#particles-js{
	background: url(../img/slider-nosotros.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	width: 100%;
	background-image: url(../img/slider.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0; 
	font-family: rale;
	background-repeat: no-repeat;
	
}
.ancho-letras{
	top: 200px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}
.ancho-letras p{
	color: #444;
	text-transform: bold;
	font-size: 25px;
}
.ancholer{
	top: 200px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}
.letras-slider{
	width: 80%;
	margin: auto;
}
.letras-slider h1{
	color: #444;
	font-family: rale;
	font-size: 70px;
}
.letras-slider p{
	text-align: center;
	color: #333;
	font-size: 26px;
	font-family: rale;
	padding-top: 50px;
}